{% extends "layout.html" %}
{% block navbar %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Accueil</a></li>
            <li role="presentation"><a href="/infos">Informations pratiques</a></li>
            <li role="presentation"><a href="/rsvp">Invitations</a></li>
            <li role="presentation"><a href="/liste">Cadeaux</a></li>
          </ul>
        </nav>
        <!-- <h3 class="text-muted">Laurent & Virginie ont la très grande joie de vous anoncer leur mariage qui sera célébré le 10 juin.</h3> -->
      </div>
{% endblock %}

{% block content %}
<h3>Virginie & Laurent ont l'immense bonheur de vous anoncer leur mariage qui sera célébré le 10 juin 2017.</h3>
<div><br></div>
<!-- <p>Nous avons la très grande joie de vous annoncer notre mariage qui sera célébré le 10 juin.</p> -->
<img src="{{url_for('.static', filename='vl1_2.jpg')}}" alt="Les futurs mariés sur leBrooklyn Bridge." class="img-responsive img-header" align="center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="page-header"><h2 class="text-muted">Informations pratiques</h2></div>
          <p class="text-justify">Le mariage aura lieu le 10 juin 2017 à la Ferme du Clocher, 182 route de Mons, 6560 Erquelinnes.</p>
          <p><a class="btn btn-default" href="/infos" role="button">Plus d'informations &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <div class="page-header"><h2 class="text-muted">Invitations</h2></div>
          <p class="text-justify">Afin de nous permettre d'organiser au mieux cette extraordinaire journée, merci de nous indiquer si vous pourrez être des nôtres avant le 1<sup>er</sup> mai 2017.</p>
          <p><a class="btn btn-default" href="/rsvp" role="button">Répondre &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <div class="page-header"><h2 class="text-muted">Cadeaux</h2></div>
          <p class="text-justify">Si vous désirez nous gâter, toute contribution à notre voyage de noces ou notre futur achat de maison nous comblerait.</p>
          <p><a class="btn btn-default" href="/liste" role="button">Informations complémentaires &raquo;</a></p>
        </div>
      </div>

{%endblock %}
