{% extends "layout.html" %}
{% block navbar %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Accueil</a></li>
            <li role="presentation"><a href="/infos">Informations pratiques</a></li>
            <li role="presentation"><a href="/rsvp">Invitations</a></li>
            <li role="presentation"><a href="/liste">Cadeaux</a></li>
          </ul>
        </nav>
      <h3 class="colored">Virginie & Laurent</h3>
      </div>
{% endblock %}

{% block content %}
<div><br></div>
<img src="{{url_for('.static', filename='vl1_2.jpg')}}" alt="Les futurs mariés sur leBrooklyn Bridge." class="img-responsive img-header" align="center">
<h3 class="cntr colored">Virginie & Laurent ont l'immense joie de vous annoncer leur mariage.</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="page-header"><h2 class="text-muted">Informations pratiques</h2></div>
          <p class="text-justify">Le mariage aura lieu le 10 juin 2017 à la Ferme du Clocher, Route de Mons 182, 6560 Erquelinnes.</p>
          <p><a class="btn btn-default" href="/infos" role="button">Plus d'informations &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <div class="page-header"><h2 class="text-muted">Invitations</h2></div>
          <p class="text-justify">Afin de nous permettre d'organiser au mieux cette extraordinaire journée, merci de nous indiquer si vous pourrez être des nôtres avant le 15 mai 2017.</p>
          <p><a class="btn btn-default" href="/rsvp" role="button">Répondre &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <div class="page-header"><h2 class="text-muted">Cadeaux</h2></div>
          <p class="text-justify">Si vous désirez nous gâter, toute contribution à notre voyage de noces ou notre futur achat de maison nous comblerait.</p>
          <p><a class="btn btn-default" href="/liste" role="button">Informations complémentaires &raquo;</a></p>
        </div>
      </div>

{%endblock %}
