{% extends "layout.html" %}
{% block navbar %}
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Accueil</a></li>
        <li role="presentation" class="active"><a href="/infos">Informations pratiques</a></li>
            <li role="presentation"><a href="/rsvp">Invitations</a></li>
            <li role="presentation"><a href="/liste">Cadeaux</a></li>
    </ul>
</nav>
<h3 class="colored">Virginie & Laurent</h3>
</div>
{% endblock %}

{% block content %}
<div class=page-header>
    <h1>Informations pratiques</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="page-header"><h3>L'adresse du jour</h3></div>
            <p class="text-justify"><b>Ferme du Clocher, <br>Route de Mons 182, <br>6560 Erquelinnes</b>.</p>
            <div class="iframe-container"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2548.2511210735074!2d4.1450921516262405!3d50.30590557935481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c23f99fac9ca3d%3A0xdd7c8f7a9446d483!2sFerme+du+Clocher!5e0!3m2!1sen!2sbe!4v1491334738007" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            <p><br>Pour information, Google Maps indique Rue Aublaine 16, c'est une seconde entrée qui ne sera pas utilisée le jour J.</p>
        </div>
        <div class="col-md-4">
            <div class="page-header"><h3>Le programme du 10 juin</h3></div>
            <ul>
                <li><b>14:30</b> - Cérémonie</li>
                <li><b>16:00</b> - Cocktail</li>
                <li><b>19:00</b> - Repas</li>
                <li><b>22:00</b> - Soirée</li>
            </ul>
            <img src="{{url_for('.static', filename='ring.jpg')}}" class="img-responsive" height="10%">
        </div>
        <div class="col-md-4">
            <div class="page-header"><h3>Si vous désirez nous contacter</h3></div>
            <p>Virginie Scheffer et Laurent Contzen <br>
            Rue Brûlotte 6<br>
            1325 Gistoux <br>
            <a href="mailto:gistounets@gmail.com">gistounets@gmail.com</a> <br>
            0479/34.82.24 (Virginie) et 0472/50.44.31 (Laurent)
            </p>
            <img src="{{url_for('.static', filename='balcon_2.jpg')}}" class="img-responsive" height="10%">
        </div>
    </div>
</div>
{%endblock %}
