{% extends "layout.html" %}
{% block navbar %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Accueil</a></li>
            <li role="presentation"><a href="/infos">Informations pratiques</a></li>
            <li role="presentation"><a href="/rsvp">Invitations</a></li>
            <li role="presentation" class="active"><a href="/liste">Liste</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Laurent & Virginie</h3>
      </div>
{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Liste de mariage</h1>
  </div>
    <p>Si vous souhaitez nous gâter, nous serions comblés avec une participation à notre futur achat de maison ou pour notre voyage de noces. Notre numéro de compte: <b>BE79 0836 4636 2533</b>. Un énorme merci d'avance</p>
    <img src="{{url_for('.static', filename='01.jpg')}}" alt="Les futurs mariés sur leBrooklyn Bridge." class="img-responsive img-header" align="center">
{% endblock %}
