{% extends "layout.html" %}
{% block navbar %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Accueil</a></li>
            <li role="presentation"><a href="/infos">Informations pratiques</a></li>
            <li role="presentation"><a href="/rsvp">Invitations</a></li>
            <li role="presentation" class="active"><a href="/liste">Cadeaux</a></li>
          </ul>
        </nav>
        <h3 class="colored">Virginie & Laurent</h3>
      </div>
{% endblock %}
{% block content %}
  <div class="page-header">
    <h1 class="text-muted">Cadeaux</h1>
  </div>
    <p>Votre présence sera le plus beau cadeau.<br></p>
    <img src="{{url_for('.static', filename='gifts.jpg')}}" alt="Les futurs mariés sur leBrooklyn Bridge." class="img-responsive img-header" align="center">
    <p class="text-justify"><br>Si vous souhaitez toutefois nous gâter, nous serions comblés avec une participation à notre voyage de noces ou à notre futur achat de maison.
    Notre projet de voyage de noces est un road trip <i>(On the road again!!)</i> mêlant nature, visites et découvertes en Écosse dont les principaux éléments seront:</p>
    <ul>
      <li>Randonnées</li>
      <li>Visites culturelles</li>
      <li>Découvertes gourmandes</li>
      <li>Excursion en bâteau</li>
      <li>Logement en camping</li>
      <li>Logement en Bed&Breakfast</li>
      <li>Logement dans un hotel de charme</li>
      <li>...</li>
    </ul>
    <p>Notre numéro de compte: BE79 0836 4636 2533. <br> 
    <br>Un énorme <b>merci</b>!
    <br>Virginie & Laurent</p>

{% endblock %}
