{% extends "layout.html" %}
{% block navbar %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Accueil</a></li>
            <li role="presentation"><a href="/infos">Informations pratiques</a></li>
            <li role="presentation"><a href="/rsvp">Invitations</a></li>
            <li role="presentation" class="active"><a href="/liste">Cadeaux</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Laurent & Virginie</h3>
      </div>
{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Cadeaux</h1>
  </div>
    <p>Votre plus beau cadeau sera votre présence.<br></p>
    <img src="{{url_for('.static', filename='gifts.jpg')}}" alt="Les futurs mariés sur leBrooklyn Bridge." class="img-responsive img-header" align="center">
    <p><br>Si vous souhaitez toutefoisnous gâter, nous serions comblés avec une participation à notre futur achat de maison ou pour notre voyage de noces.
    <br>Notre numéro de compte: <b>BE79 0836 4636 2533</b>. Un énorme merci d'avance.</p>
    <p>Notre projet de voyage de noces est un road trip <i>(On the road again!!)</i> mêlant nature, visites et découvertes en Écosse et en Irlande. Si vous désirez nous offrir une partie du voyage, les principaux éléments seront:</p>
    <ul>
      <li>Randonnées</li>
      <li>Visites culturelles</li>
      <li>Découvertes gastronomiques</li>
      <li>Excursion en bâteau</li>
      <li>Nuits en camping</li>
      <li>Nuits en Bed&Breakfast</li>
      <li>Nuitée dans un hotel un peu extraordinaire</li>
      <li>...</li>
    </ul>

{% endblock %}
