{% extends "layout.html" %}
{% block navbar %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Accueil</a></li>
            <li role="presentation"><a href="/infos">Informations pratiques</a></li>
            <li role="presentation" class="active"><a href="/rsvp">Invitations</a></li>
            <li role="presentation"><a href="/liste">Liste</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Laurent & Virginie</h3>
      </div>
{% endblock %}

  {% block content %}
  <div class="page-header">
    <h1>RSVP</h1>
  </div>
  <div class="container">

    <form class="form-signin">
    <h3 class="form-signin-heading">Merci d'entrer votre prénom et nom pour commencer</h3>
      <label for="inputSurname" class="sr-only">Prénom</label>
      <input type="text" id="inputSurname" class="form-control" placeholder="Prénom" required autofocus>
      <label for="inputName" class="sr-only">Nom</label>
      <input type="text" id="inputName" class="form-control" placeholder="Nom" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Continuer</button>
    </form>

  </div> <!-- /container -->
</div>
{%endblock %}
